<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Emprunts</title>
</head>
<body>
    <h1>Liste des Emprunts</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Livre</th>
            <th>Date d'Emprunt</th>
            <th>Date de Retour</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
